<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
</head>

<body>

<h1>Add Student</h1>

<p>
    <a href="/dashboard/students/">← Back</a>
</p>

<form method="POST" id="schoolForm" novalidate>

    {% csrf_token %}

    <p>
        <label>Classroom</label><br>

        <select name="classroom" >

            {% for classroom in classrooms %}

            <option value="{{ classroom.id }}">
                {{ classroom.class_name }}
            </option>

            {% endfor %}

        </select>

    </p>

    <p>
        <label>First Name</label><br>
        <input type="text" name="first_name" >
    </p>

    <p>
        <label>Last Name</label><br>
        <input type="text" name="last_name" >
    </p>

    <p>
        <label>Age</label><br>
        <input type="number" name="age" >
    </p>

    <p>
        <label>Roll Number</label><br>
        <input type="number" name="roll_number" >
    </p>

    <button type="submit">
        Save Student
    </button>

</form>

</body>
</html>