<!DOCTYPE html>
<html>

<head>
    <title>Edit School</title>
</head>

<body>

<h1>Edit School</h1>

<p>
    <a href="/dashboard/schools/">← Back</a>
</p>

<form method="POST" id="schoolForm" novalidate>

    {% csrf_token %}

    <p>
        <label>School Name</label><br>
        <input
            type="text"
            name="name"
            value="{% if request.method == 'POST' %}{{ request.POST.name }}{% else %}{{ school.name }}{% endif %}"
            novalidate
        >

    <span style="color:red;">
    {{ errors.name }}
    </span>

    </p>

    <p>
        <label>Principal</label><br>
        <input
            type="text"
            name="principal"
            value="{% if request.method == 'POST' %}{{ request.POST.principal }}{% else %}{{ school.principal }}{% endif %}"
            novalidate
        >

    <span style="color:red;">
    {{ errors.principal }}
    </span>
    </p>

    <p>
        <label>Address</label><br>
        <textarea
            name="address"
            rows="4"
            cols="40"
            novalidate
        >{% if request.method == 'POST' %}{{ request.POST.address }}{% else %}{{ school.address }}{% endif %}</textarea>

        <span style="color:red;">
        {{ errors.address }}
        </span>
    </p>

    <p>
        <label>Established Year</label><br>
        <input
            type="number"
            name="established_year"
            value="{% if request.method == 'POST' %}{{ request.POST.established_year }}{% else %}{{ school.established_year }}{% endif %}"
            novalidate
        >

        <span style="color:red;">
        {{ errors.year }}
        </span>
    </p>

    <button type="submit">
        Update School
    </button>

</form>

</body>
</html>