<!DOCTYPE html>
<html>

<head>
    <title>Add Teacher</title>
</head>

<body>

<h1>Add Teacher</h1>

<p>
    <a href="/dashboard/teachers/">← Back</a>
</p>

<form method="POST" id="schoolForm" novalidate>

    {% csrf_token %}

    <p>
        <label>Classroom</label><br>

        <select name="classroom" >

            {% for classroom in classrooms %}

            <option value="{{ classroom.id }}">
                {{ classroom.class_name }}
            </option>

            {% endfor %}

        </select>

    </p>

    <p>
        <label>First Name</label><br>
        <input type="text" name="first_name" >
    </p>

    <p>
        <label>Last Name</label><br>
        <input type="text" name="last_name" >
    </p>

    <p>
        <label>Subject</label><br>
        <input type="text" name="subject" >
    </p>

    <p>
        <label>Email</label><br>
        <input type="email" name="email" >
    </p>

    <button type="submit">
        Save Teacher
    </button>

</form>

</body>
</html>