<!DOCTYPE html>
<html>

<head>
    <title>Edit Teacher</title>
</head>

<body>

<h1>Edit Teacher</h1>

<p>
    <a href="/dashboard/teachers/">← Back</a>
</p>

<form method="POST" id="schoolForm" novalidate>

    {% csrf_token %}

    <p>
        <label>Classroom</label><br>

        <select name="classroom" >

            {% for classroom in classrooms %}

            <option value="{{ classroom.id }}"
                {% if teacher.classroom.id == classroom.id %}selected{% endif %}>
                {{ classroom.class_name }}
            </option>

            {% endfor %}

        </select>

    </p>

    <p>
        <label>First Name</label><br>
        <input
            type="text"
            name="first_name"
            value="{{ teacher.first_name }}"
            novalidate
            >
    </p>

    <p>
        <label>Last Name</label><br>
        <input
            type="text"
            name="last_name"
            value="{{ teacher.last_name }}"
            novalidate
            >
    </p>

    <p>
        <label>Subject</label><br>
        <input
            type="text"
            name="subject"
            value="{{ teacher.subject }}"
            novalidate
            >
    </p>

    <p>
        <label>Email</label><br>
        <input
            type="email"
            name="email"
            value="{{ teacher.email }}"
            novalidate
            >
    </p>

    <button type="submit">
        Update Teacher
    </button>

</form>

</body>
</html>